@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
body {
  background-color: #2F3237;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.tryon-container {
	position: relative;
  width: 50%;
  height: 50%;
  left:25%;
  top:15%;
}
.hat-options-panel {
  position: fixed;
  top: 25%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 10px;
}
.hat-options-panel img {
  border: solid 5px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
.hat-options-panel img.selected {
  border-color: rgb(0, 149, 0);
}
.header {
  padding: 10px 20px 0px 20px;
  text-align: center;
}
